.jumbotron {
  padding-top: 70px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url("images/laptop_and_drink.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.jumbotron h1 {
  font: 'Holtwood One SC';
  font-size: 70px;
  font-weight: bold;
}
.navbar navbar-default{
  background-color: #333;
}

.table th {
  font-size: 20px;
  font:"Archivo Black";
}
#About-us{
  background: purple;
}

#coding {
background: pink;
}

/*#cocktails {
background: 	#E0FFFF;
}*/

#social{
  background: 	#D3D3D3;
  padding-bottom: 50px;
}

#social-buttons button {
margin-top: 50px;
font-weight: bold;
}

.btn-instagram {
  background-color: #e60073;
}
.btn-instagram a {
  color: white;
}

.btn-pinterest {
  background-color: red;
}

.btn-pinterest a{
  color: white;
}

.navbar {
  background-color: #4d4d4d;
}
.navbar-brand {
  color: white;
  font-weight: bold;
}
.nav-link {
  color: white;
}
